{% extends "base.html" %}

{% block content%}
<div class="container-xxl">
    <div class="row align-items-start">
        <div class="col">
            {% for task in create %}
            <p>Задача {{ task.number_task }}</p>
            <p>Исполнитель {{ task.author }}</p>
            <p>{{ task.description }}</p>
            {% endfor %}
        </div>
        <div class="col">
            {% for task in in_progress %}
            <p>Задача {{ task.number_task }}</p>
            <p>Исполнитель {{ task.author }}</p>
            <p>{{ task.description }}</p>
            {% endfor %}
        </div>
        <div class="col">
            {% for task in done %}
            <p>Задача {{ task.number_task }}</p>
            <p>Исполнитель {{ task.author }}</p>
            <p>{{ task.description }}</p>
            {% endfor %}
        </div>
        <div class="col">
            {% for task in closed %}
            <p>Задача {{ task.number_task }}</p>
            <p>Исполнитель {{ task.author }}</p>
            <p>{{ task.description }}</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}