{% extends "base.html" %}

{% block content%}
<div class="container-xxl">
    <table class="table">

        <thead>
        <tr>
            <th scope="col">id Задачи</th>
            <th scope="col">Название</th>
            <th scope="col">Автор</th>
            <th scope="col">Исполнитель</th>
            <th scope="col">Описание</th>
            <th scope="col">Статус</th>
            <th scope="col">Дата создания</th>
            <th scope="col">Дата завершения</th>
        </tr>
        </thead>
        <tbody>
        {% for task in user_tasks %}
        <tr>
            <td scope="col">{{ task.number_task }}</td>
            <td scope="col">{{ task.title }}</td>
            <td scope="col">{{ task.author }}</td>
            <td scope="col">{{ task.performer }}</td>
            <td scope="col">{{ task.description }}</td>
            <td scope="col">{{ task.status }}</td>
            <td scope="col">{{ task.starttime }}</td>
            <td scope="col">{{ task.endtime }}</td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}