{% include "base.html" %}
{% include "navbar.html" %}

<div class="container-xxl">
    <table class="table">

        <thead>
        <tr>
            <th scope="col">id Задачи</th>
            <th scope="col">Название</th>
            <th scope="col">Автор</th>
            <th scope="col">Исполнитель</th>
            <th scope="col">Описание</th>
            <th scope="col">Статус</th>
            <th scope="col">Дата создания</th>
            <th scope="col">Дата завершения</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td scope="col">Создание приложения</td>
            <td scope="col">Petr</td>
            <td scope="col">Ivan</td>
            <td scope="col">А также непосредственные участники технического прогресса формируют глобальную экономическую сеть и при этом — разоблачены.</td>
            <td scope="col">Открыта</td>
            <td scope="col">01.01.2023</td>
            <td scope="col">03.01.2023</td>
        </tr>
        </tbody>
    </table>
</div>

